TRANSLATION_PROVIDER=argos
ARGOS_AUTO_INSTALL=true
DEEPL_AUTH_KEY=
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8766
ANKI_CONNECT_URL=http://127.0.0.1:8765
ANKI_DECK_NAME=YouTube Russian Sentences
ANKI_MODEL_NAME=YouTube Russian Sentence
LEARNER_LANGUAGE=ru
TARGET_LANGUAGE=en
AUDIO_PAD_BEFORE=0.08
AUDIO_PAD_AFTER=0.12
DATA_DIR=data
